<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wtu.jht.bookmanage.dao.BResponsitoryMapper" >
  <resultMap id="BaseResultMap" type="com.wtu.jht.bookmanage.modal.BResponsitory" >
    <id column="f_id" property="fId" jdbcType="INTEGER" />
    <result column="f_book_id" property="fBookId" jdbcType="INTEGER" />
    <result column="f_number" property="fNumber" jdbcType="INTEGER" />
    <result column="f_creator_id" property="fCreatorId" jdbcType="INTEGER" />
    <result column="f_update_time" property="fUpdateTime" jdbcType="TIMESTAMP" />
    <result column="f_operator_id" property="fOperatorId" jdbcType="INTEGER" />
    <result column="f_delete_flag" property="fDeleteFlag" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    f_id, f_book_id, f_number, f_creator_id, f_update_time, f_operator_id, f_delete_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wtu.jht.bookmanage.modal.BResponsitoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_responsitory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from b_responsitory
    where f_id = #{fId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from b_responsitory
    where f_id = #{fId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wtu.jht.bookmanage.modal.BResponsitoryExample" >
    delete from b_responsitory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wtu.jht.bookmanage.modal.BResponsitory" >
    <selectKey resultType="java.lang.Integer" keyProperty="fId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into b_responsitory (f_book_id, f_number, f_creator_id, 
      f_update_time, f_operator_id, f_delete_flag
      )
    values (#{fBookId,jdbcType=INTEGER}, #{fNumber,jdbcType=INTEGER}, #{fCreatorId,jdbcType=INTEGER}, 
      #{fUpdateTime,jdbcType=TIMESTAMP}, #{fOperatorId,jdbcType=INTEGER}, #{fDeleteFlag,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wtu.jht.bookmanage.modal.BResponsitory" >
    <selectKey resultType="java.lang.Integer" keyProperty="fId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into b_responsitory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fBookId != null" >
        f_book_id,
      </if>
      <if test="fNumber != null" >
        f_number,
      </if>
      <if test="fCreatorId != null" >
        f_creator_id,
      </if>
      <if test="fUpdateTime != null" >
        f_update_time,
      </if>
      <if test="fOperatorId != null" >
        f_operator_id,
      </if>
      <if test="fDeleteFlag != null" >
        f_delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fBookId != null" >
        #{fBookId,jdbcType=INTEGER},
      </if>
      <if test="fNumber != null" >
        #{fNumber,jdbcType=INTEGER},
      </if>
      <if test="fCreatorId != null" >
        #{fCreatorId,jdbcType=INTEGER},
      </if>
      <if test="fUpdateTime != null" >
        #{fUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fOperatorId != null" >
        #{fOperatorId,jdbcType=INTEGER},
      </if>
      <if test="fDeleteFlag != null" >
        #{fDeleteFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wtu.jht.bookmanage.modal.BResponsitoryExample" resultType="java.lang.Integer" >
    select count(*) from b_responsitory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update b_responsitory
    <set >
      <if test="record.fId != null" >
        f_id = #{record.fId,jdbcType=INTEGER},
      </if>
      <if test="record.fBookId != null" >
        f_book_id = #{record.fBookId,jdbcType=INTEGER},
      </if>
      <if test="record.fNumber != null" >
        f_number = #{record.fNumber,jdbcType=INTEGER},
      </if>
      <if test="record.fCreatorId != null" >
        f_creator_id = #{record.fCreatorId,jdbcType=INTEGER},
      </if>
      <if test="record.fUpdateTime != null" >
        f_update_time = #{record.fUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fOperatorId != null" >
        f_operator_id = #{record.fOperatorId,jdbcType=INTEGER},
      </if>
      <if test="record.fDeleteFlag != null" >
        f_delete_flag = #{record.fDeleteFlag,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update b_responsitory
    set f_id = #{record.fId,jdbcType=INTEGER},
      f_book_id = #{record.fBookId,jdbcType=INTEGER},
      f_number = #{record.fNumber,jdbcType=INTEGER},
      f_creator_id = #{record.fCreatorId,jdbcType=INTEGER},
      f_update_time = #{record.fUpdateTime,jdbcType=TIMESTAMP},
      f_operator_id = #{record.fOperatorId,jdbcType=INTEGER},
      f_delete_flag = #{record.fDeleteFlag,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wtu.jht.bookmanage.modal.BResponsitory" >
    update b_responsitory
    <set >
      <if test="fBookId != null" >
        f_book_id = #{fBookId,jdbcType=INTEGER},
      </if>
      <if test="fNumber != null" >
        f_number = #{fNumber,jdbcType=INTEGER},
      </if>
      <if test="fCreatorId != null" >
        f_creator_id = #{fCreatorId,jdbcType=INTEGER},
      </if>
      <if test="fUpdateTime != null" >
        f_update_time = #{fUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fOperatorId != null" >
        f_operator_id = #{fOperatorId,jdbcType=INTEGER},
      </if>
      <if test="fDeleteFlag != null" >
        f_delete_flag = #{fDeleteFlag,jdbcType=BIT},
      </if>
    </set>
    where f_id = #{fId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wtu.jht.bookmanage.modal.BResponsitory" >
    update b_responsitory
    set f_book_id = #{fBookId,jdbcType=INTEGER},
      f_number = #{fNumber,jdbcType=INTEGER},
      f_creator_id = #{fCreatorId,jdbcType=INTEGER},
      f_update_time = #{fUpdateTime,jdbcType=TIMESTAMP},
      f_operator_id = #{fOperatorId,jdbcType=INTEGER},
      f_delete_flag = #{fDeleteFlag,jdbcType=BIT}
    where f_id = #{fId,jdbcType=INTEGER}
  </update>
</mapper>